body {
    margin: 0px;
}

.box {
    width: 180px;
    height: 180px;
    margin: 10px;
    border: 20px solid;
}

#red {
    background-color: red;
    border-color:darkred;
}

#yellow {
    background-color: yellow;
    border-color: darkgoldenrod;
}

#green {
    background-color: green;
    border-color: darkgreen;
}

.cube {
    height: 50%;
    width: 50%;
    float: left;
}

.rectangle {
    height: 50%;
    width: 100%;
    float: left;
}

#redBonus {
    border-color:darkred;
}

#yellowBonus {
    border-color: darkgoldenrod;
}

#greenBonus {
    border-color: darkgreen;
}

#yellowCube {
    background-color: yellow;
}

#lightYellowCube {
    background-color: yellow;
    opacity: 40%;
}

#greenCube {
    background-color: green;
}

#lightGreenCube {
    background-color: green;
    opacity: 50%;
}

#redRectangle {
    background-color: red;
}

#lightRedRectangle {
    background-color: red;
    opacity: 50%;
}

.innerBox {
    height: 50%;
    width: 50%;
    background-color: white;
    opacity: 50%;
    margin-top: 50%;
}

#wide {
    width: 100%;
}

#left {
    margin-left: 50%;
    opacity: 60%;
}