body {
    margin: 0px;
    background-color: lightgray;
}

.background {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
}

.box {
    width: 180px;
    height: 180px;
    margin: 10px 10px 10px 10px;
    border: 20px solid;
}

#red {
    background-color: red;
    border-color:darkred;
}

#yellow {
    background-color: yellow;
    border-color: darkgoldenrod;
}

#green {
    background-color: green;
    border-color: darkgreen;
}

/* Har lagt in en vit fyrkant med en viss opacitet 
för att skapa de ljusa partierna på trafikljuset */

.innerBox {
    height: 50%;
    width: 50%;
    background-color: white;
    opacity: 50%;
    margin-top: 50%;
}

#wide {
    width: 100%;
}

#left {
    margin-left: 50%;
}
