body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.background {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
}

.box {
    width: 180px;
    height: 180px;
    margin: 5px;
    border: 20px solid;
    position: relative;
}

#red {
    background-color: red;
    border-color:darkred;
}

#yellow {
    background-color: yellow;
    border-color: darkgoldenrod;
}

#green {
    background-color: green;
    border-color: darkgreen;
}

/* Har lagt in en vit fyrkant med en viss opacitet 
för att skapa de ljusa partierna på trafikljuset */

.innerBox {
    height: 50%;
    width: 50%;
    background-color: white;
    opacity: 50%;
    position: absolute;
    bottom: 0;
}

#wide {
    width: 100%;
}

#right {
    margin-left: 50%;
}
